@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.App {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  margin-bottom: 1rem;
  overflow-x: hidden;
}
#Home {
  height: 77vh;
}
#Input[type = "text"] {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
}
#Highlights {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}
#Blight {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Plants.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Cultivation {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Cultivation.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Message {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 88vh;
}
#PestsandDiseases img {
  height: 250px;
  width: 260px;
}
#Information {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 800px;
}
.mySwiper {
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding-bottom: 4rem;
  text-align: center;
}
.mySwiper figcaption {
  padding-bottom: 2rem;
}
