@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.App {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  margin-bottom: 1rem;
  overflow-x: hidden;
}
#Input[type = "text"] {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
}
#Highlights {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}
/* #Registration, #Login, #Home {
  background-color: #f6e1ac;
} */
#Message {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 88vh;
}
